#about-section{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-wrap: wrap;
}

#about-us-heading{
    font-size: 60px;
    margin: 0;
    color: #FE7F2D;
}

#about-us-text{
    width: 70%;
}