table{
    width: 100%;
    height: 100%;
}

tr{
    width: 100%;
    height: 50%;
    padding: 0;
}

td{
    width: 50%;
    height: 100%;
    padding: 0;
}

h3{
    height: 10%;
    margin: 0;
}

.destination-section{
    height: 90vh;
    padding: 0 3%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.img-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.destination-img{
    width: 100%;
    height: 100%;
}

.to-do-div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-div{
    display: flex;
    flex-direction: column;
    background-color: #FF6500;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.to-do-img{
    width: 100%;
    height: 90%;
}