#main-section{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-section-img, #main-section-colour{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#main-section-img{
    z-index: -2;
}

#main-section-colour{
    z-index: -1;
    background-color: #FE7F2D;
    opacity: 10%;
}

#main-heading{
    color: #FE7F2D;
    font-size: 100px;
    text-shadow:
        0px 7px black
    ;
}