body{
    margin: 0;
    background-color: #EFE9E3;
    height: 100vh;
}

nav, footer{
    background-color: #F7DB91;
    width: 100%;
    height: 10%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav{
    position: sticky;
    top: 0;
    overflow: hidden;
}

hr{
    width: 80%;
    border: 1px solid black;
}

footer{
    justify-content: center;
}

#nav-links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40%;
    gap: 10px;
}

.nav-link-holder{
    width: 20%;
}

.nav-link{
    float: left;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 5px;
    border: #FF6500;
    width: 100%;
}

.nav-link:hover{
    background-color: #FF6500;
    cursor: pointer;
    box-shadow: 0 4px 10px #FF6500;
    color: white;
}

.active{
    background-color: #FF6500;
    color: white;
}

.heading-font {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}


.text-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.vr{
    border-left: 5px dotted #FE7F2D;
    height: 80%;
}