h2{
    margin: 0;
    height: 12%;
    color: white;
}

h3{
    color: white;
}

#prices-section{
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#all-prices-divs{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.price-div{
    height: 100%;
    width: 33%;
    background-color: #FF6500;
    border-radius: 30px;
    border: 2px solid #FF6500;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.price-display{
    width: 100%;
    height: 80%;
    background-color: #F8843F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.option-benefits{
    height: 50%;
    margin: 0;
    font-size: 20px;
    width: 40%;
}

/* Prices Form */

form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

#form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    height: 80vh;
}

#confirmation{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

#card-detail-div{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#submit-order-button{
    width: 30%;
    border-radius: 30px;
    padding: 2% 3%;
    border: 2px solid #ABE7B2;
}

#submit-order-button:hover{
    background-color: #ABE7B2;
    cursor: pointer;
    box-shadow: 0 4px 10px black;
}

#reset-order-button{
    width: 30%;
    border-radius: 30px;
    padding: 2% 3%;
    border: 2px solid #F63049;
}

#reset-order-button:hover{
    background-color: #F63049;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 10px black;
}

#form-div{
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 10px black;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 95%;
    justify-content: center;
    padding: 5% 0;
}

.detail-input{
    width: 50%;
    border-radius: 10px;
    padding: 2%;
}

.short-detail-input{
    width: 30%;
    border-radius: 10px;
    padding: 2%;
}

.submit-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

@media(max-width: 600px){
    h2{
        margin: 10px;
    }

    #prices-section{
        height: 100dvh;
        margin-bottom: 25%;
    }

    #all-prices-divs{
        flex-direction: column;
        height: 100%;
    }

    .price-div{
        width: 100%;
        height: 100%;
    }

    .price-display{
        padding: 20px 0;
    }

    .option-benefits{
        height: 90%;
        margin: 0;
        font-size: 20px;
        width: 40%;
    }

    /* Prices Form */

    #form-section{
        margin-top: 5%;
        height: 90dvh;
    }
    
    #confirmation{
        width: 90%;
        height: 75%;
    }

    #card-detail-div{
        width: 70%;
    }

    .detail-input{
        width: 70%;
        font-size: 20px;
    }

    .short-detail-input{
        font-size: 20px;
    }

    #submit-order-button, #reset-order-button{
        width: auto;
        font-size: 17px;
    }

    .submit-div label{
        font-size: 20px;
    }

    .submit-div input{
        width: 20px;
        height: 20px;
    }
}